infra/n8n-workflows/zoho-create-invoice.json
{
  "name": "Portal to Zoho: Create Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "invoice-webhook-trigger",
      "name": "Invoice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-invoice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://portal.scratchsolidsolutions.org/api/webhooks/n8n/create-invoice",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "id": "portal-create-invoice",
      "name": "Portal: Create Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "portal-webhook-secret",
          "name": "Portal Webhook Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nif (response.zoho_invoice_id) {\n  return { json: { status: 'invoice_created', zoho_invoice_id: response.zoho_invoice_id, total: response.total_amount_zar } };\n}\nreturn { json: { status: 'failed', error: response.error || 'Unknown error' } };"
      },
      "id": "handle-invoice-response",
      "name": "Handle Invoice Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{$json}}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Invoice Webhook": {
      "main": [
        [
          {
            "node": "Portal: Create Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Portal: Create Invoice": {
      "main": [
        [
          {
            "node": "Handle Invoice Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Invoice Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "scratchsolid-v2",
    "zoho",
    "invoice"
  ]
}
